@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow-x: hidden; /* Permite rolar horizontalmente se necessário */
    background-color: #ffffff;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(83, 136, 75, 1) 100%);
}

.center {
    display: flex;
    float: right;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    height: 100px;
    padding: 20px 0;
    background-color: #15471F;
    box-shadow: 2px 2px 7px rgba(70, 141, 49, 0.4);
    z-index: 2;
    width: 100%;
}
#logo {
    width: 70px;
    margin: -5px 20px 0 ;
    float: left;
    display: flex;
    position: relative;
    z-index: 1000;
}
/* CONTEÚDO */

/* Perfil com Foto de Capa e Perfil */
.profile-header {
    position: relative;
    text-align: center;
    margin-bottom: 60px; /* Espaço para o conteúdo abaixo */
}

.fotoCapa {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.fotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: -75px; /* Aproximadamente metade da altura da imagem */
    left: 50%;
    transform: translateX(-50%);
    background-color: white; /* Fundo para destacar */
}

.profile-info {
    text-align: center;
    margin-top: 100px; /* Ajuste para dar espaço após a sobreposição */
}

.nome {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

.instituicao, .biografia, .cargo, .habilidades {
    font-size: 16px;
    color: #ffffff;
}

.habilidades{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;         /* Tamanho da fonte */

}

li{
    font-size: 16px;         /* Tamanho da fonte */
    color: #ffffff;          /* Cor do texto */
}

.biografia {
    font-size: 16px;         /* Tamanho da fonte */
    color: #ffffff;          /* Cor do texto */
    line-height: 1.6;        /* Altura da linha para melhorar a legibilidade */
    margin: 20px auto;       /* Espaçamento externo (auto alinha ao centro se o pai permitir) */
    max-width: 80%;          /* Limita a largura máxima do texto */
    text-align: justify;     /* Justifica o texto */
}
.bioTitulo{
    font-size: 20px;         /* Tamanho da fonte */
    color: #ffffff;          /* Cor do texto */
    margin: 20px auto;       /* Espaçamento externo (auto alinha ao centro se o pai permitir) */
    text-align: center;
}

.vagas {
    background-color: #606060; /* Cor de fundo cinza claro */
    border: 2px solid white;   /* Borda branca */
    border-radius: 12px;       /* Bordas arredondadas */
    padding: 10px;             /* Espaçamento interno */
    max-width: 50%;          /* Largura máxima (ajuste conforme necessário) */
    margin: 0 auto;            /* Centraliza o bloco */
    margin-top: 50px;
    color: white;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.vagas h2 {
    margin: 0;                 /* Remove margem padrão do h2 */
    font-size: 18px;           /* Ajuste o tamanho da fonte conforme necessário */
    display: flex;             /* Utiliza Flexbox para alinhar os itens */
    justify-content: space-between; /* Espaça o conteúdo com o ícone no fim */
    align-items: center;       /* Alinha verticalmente ao centro */
}
/* Estilos para o dialog (pop-up) */
dialog.addVaga {
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 550px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: fixed; /* Para garantir que o pop-up fique sobre a tela */
    top: 50%; /* Centralizar verticalmente */
    left: 50%; /* Centralizar horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste preciso do centro */
    text-align: center;
    z-index: 1000; /* Certifique-se de que o pop-up apareça acima de outros elementos */
}

/* Estilo do input no formulário */
input, textarea {
    padding: 1%;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-top: 10px; /* Aumentado para mais espaçamento */
    font-size: 16px;
}

textarea {
    height: 100px; /* Definindo altura para o textarea */
    resize: none; /* Impedindo redimensionamento */
    margin-top: 10px; /* Aumentado para mais espaçamento */
}
/* Estilo do botão Enviar */
dialog.addVaga button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

dialog.addVaga button[type="submit"]:hover {
    background-color: #218838;
}

/* Estilo do botão Fechar */
dialog.addVaga .fecharJanela {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

dialog.addVaga .fecharJanela:hover {
    background-color: #c82333;
}

/* Ícone de Adicionar Vaga (separado do formulário) */
.bi-plus-circle {
    font-size: 2rem;
    color: #00c10d;
    cursor: pointer;
    transition: color 0.3s ease;
}

.bi-plus-circle:hover {
    color: #00c10d;
}



#menu, #notificacao, #perfil {
    width: 80px;
    margin-top: -10px;
    margin-left: 15px;
    padding: 20px;
    z-index: 0;
}
#menu{
    margin-top: -5px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#15471F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.side-menu a {
    padding: 15px 20px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.5s;
}

.side-menu a:hover {
    background-color: #1c5f29;
}

.side-menu .close-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px;
    padding: 5%;
    cursor: pointer;
}

.dialog {
    display: none;
    position: fixed;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 300px;
    max-height: 300px;
    /* Aumentado para permitir mais notificações */
    overflow-y: auto;
    /* Habilitar scroll quando necessário */
}

.dialog .close-btn {
    cursor: pointer;
    float: right;
    font-size: 1.5em;
}

.dialog h2 {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: #15471F;
    /* Cor do título */
}

.dialog .notificacao {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    transition: background-color 0.3s;
    /* Adiciona transição ao passar o mouse */
}

.dialog .notificacao:hover {
    background-color: #f1f1f1;
    /* Cor de fundo ao passar o mouse */
}

.dialog button {
    background-color: #15471F;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dialog button:hover {
    background-color: #1c5f29;
}


/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 7px rgba(70, 141, 49, 0.4);
    bottom: 0%;
    position: sticky;
    width: 100%;
    z-index: 1;
}
h3{
    color: white
}